# binaries
/profilex
/bin/
/dist/
/packaging/npm-profilex-cli/runtime/*
!/packaging/npm-profilex-cli/runtime/.gitkeep
/packaging/npm-profilex-cli/*.tgz

# go
*.test
*.out
coverage.out

# local state
.profilex/

# editor
.DS_Store
.idea/
.vscode/
