name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'
      - name: go mod tidy check
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum
      - name: go test
        run: go test ./...
      - name: go vet
        run: go vet ./...
